@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@200;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#b9c0c0;
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

